{% extends "base.html" %}

{% block titulo %}
Acerca de mi
{% endblock titulo %}

{% block contenido %}
<p>     Hola, me llamo Franco Occhione, soy alumno del curso de Python de la comision 55350. Me encantan las aves por eso 
dedique mi blog a ellas. Me centre en las aves que habitan Argentina y sus caracteristicas. Uno de mis hobbies es 
ir a espacios verdes para observar y escuchar las aves, descubrir nuevas especies y tomar fotos. Me gusta mucho
programar por eso incursione en Coderhouse para aprender nuevos lenguajes y me llamaba la atencion Python.
Tenia algunas nociones de programacion por el colegio y la facultad y en este curso pude incorporar nuevos conocimientos,
realmente lo disfrute mucho aunque el proyecto llevo su tiempo y esfuerzo. Espero que les guste la pagina y puedan
conocer mas sobre las aves de Argentina. </p>
<br></br>
<img src="/static/assets/acerca.png.jpg" alt="creador" width = "200" height="200">
{% endblock contenido %}