{% extends "base.html" %}

{% block contenido %}

<head>
    <title>Elimnar publicacion</title>
</head>
<body>
    <h1>Eliminar publicacion</h1>
    <h3>¿Estas seguro que deseas eliminar tu publicacion "{{ articulo.titulo }}"?</h3>
    <br></br>
    <form method="post">
        {% csrf_token %}
        <button type="submit"class='btn btn-danger'>Si, eliminar</button>
    </form>
    <br></br>
    <a class="btn btn-secondary" href="{% url 'ver_articulos' articulo.id %}">Cancelar y volver atras</a>
</body>

{% endblock contenido %}